@model MvcMovie.Models.Entities.DonHang

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DonHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="TenKH" class="control-label"></label>
                <select asp-for="TenKH"
                class="form-control"
             asp-items="ViewBag.TenKH">
                </select>   
                <span asp-validation-for="TenKH" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="STT" class="control-label"></label>
                <input asp-for="STT" class="form-control" />
                <span asp-validation-for="STT" class="text-danger"></span>
            </div>
            
            <!-- #region MaDonHang -->
            <div class="form-group">
                <label asp-for="MaDonHang" class="control-label"></label>
                <input asp-for="MaDonHang" class="form-control" />
                <span asp-validation-for="MaDonHang" class="text-danger"></span>
            </div>
            <!-- #endregion -->
            <div class="form-group">    
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
