@{
    ViewData["Title"] = "Import Excel";
}

<h2>Import khách hàng từ Excel</h2>

<form asp-action="Import" method="post" enctype="multipart/form-data">
    <div>
        <label>Chọn file Excel (.xlsx)</label>
        <input type="file" name="file" accept=".xlsx" />
    </div>

    <br />

    <button type="submit">Upload</button>
</form>
@if (ViewBag.Message != null)
{
    <p style="color:green">@ViewBag.Message</p>
}
<div style="border:1px solid #ccc; padding:20px; width:400px;">
    <h3>Upload Excel</h3>

    <form asp-action="Import" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx" />
        <br /><br />
        <button type="submit">Upload</button>
    </form>

    @if (ViewBag.Message != null)
    {
        <p style="color:green">@ViewBag.Message</p>
    }
</div>